.wrapper {
  padding-top: 50px;
  background: #ECEFF1;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  background: rgb(221, 218, 218);
  background-image: url('https://freefrontend.com/assets/img/css-background-patterns/css-pattern-with-css-blend-mode.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
}
